/.BehaviorAnnexDerivedStateComputer.java._trace
/.BehaviorAnnexDerivedStateComputer.xtendbin
/.MyXtext2EcorePostProcessor.java._trace
/.MyXtext2EcorePostProcessor.xtendbin
/BehaviorAnnexDerivedStateComputer.java
/MyXtext2EcorePostProcessor.java
/.BaXtext2EcorePostProcessor.java._trace
